.manage-patient-container{
    .m-p-title{
        font-size: 18px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
    .manage-patient-body{
        padding: 0 20px;

        .table-manage-patient{
          width: 100%;
            #customers {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
              }
              
              #customers tr:nth-child(even){background-color: #f2f2f2;}
              
              #customers tr:hover {background-color: #ddd;}
              
              #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
              }

           
                
          
                .mp-btn-comfirm{
                  margin-right: 10px;
                  height: 30px;
                  border-radius: 3px;
                  background: rgb(134, 203, 134);
                  border: none;
                  outline: none;
                  cursor: pointer;

                  &:hover{
                    background: rgb(23, 206, 23);
                    color: white;
                  }
                }
                .mp-btn-remedy{
                  height: 30px;
                  border-radius: 3px;
                  background: rgb(226, 180, 95);
                  border: none;
                  outline: none;
                  cursor: pointer;

                  &:hover{
                    background:  rgb(203, 140, 24);
                    color: white;
                  }
                }
                .no-data{
                  color: red;
                  text-align: center;
                }
              

             
              
        }
    }

    
}

div._loading_overlay_wrapper{
  position: unset;

  ._loading_overlay_overlay{
    z-index: 1000000;
  }
}