.clinic-child{
    cursor: pointer;
}

.section-medical-facility{
    @media only screen and (max-width: 46.1875em) {
       
       
    }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        height: 100%;
    }
    .section-container{
        @media only screen and (max-width: 46.1875em) {
           margin: 0 5px !important;
           
        }
        @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
           margin: 0 5px !important;
        }
    }
}



