.section-share{
  
    .section-container{
        @media only screen and (max-width: 46.1875em) {
            margin:  5px !important;   
            
        }
        @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
           margin: 0 5px !important;
        }
        .section-header{
           
            .btn-section{
                @media only screen and (max-width: 46.1875em) {
                    display: none;
                }
            }
        }
       
    }
}